<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content="" />

    <title>Create an account</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/resources/css/common.css}" rel="stylesheet"></link>

</head>

<body>

<div class="container">
	<form action="#" th:action="@{/registration}" th:object="${userForm}" method="post" class="form-signin">
         <h2 class="form-signin-heading">Create your account</h2>
         <div class="form-group ${status.error ? 'has-error' : ''}">
         	<input type="text" th:field="*{username}" class="form-control" placeholder="Username" required="required"/>
         	<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</span>
         </div>
         <div class="form-group ${status.error ? 'has-error' : ''}">
         	<input type="password" th:field="*{password}" class="form-control"  placeholder="Password" required="required"/>
         	<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
         </div>
         <div class="form-group ${status.error ? 'has-error' : ''}">
            <input type="password" th:field="*{passwordConfirm}" class="form-control" placeholder="Confirm your password" required="required"/>
         	<span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password Error</span>
          </div>
         <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
     </form>
</div>
<!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>
